@tailwind base;

@layer base {
    /*:root {*/
    /*    --col-gradient: radial-gradient(circle at 0% 60%, rgba(72,75,106, 1) 1%, rgba(147,148,165, 1) 23%, rgba(228,229,241, 1) 40%, rgba(228,229,241, 1) 50%, rgba(254, 255, 255, 1) 60%);*/
    /*    --col-contrast: black;*/
    /*    --col-primary: blue;*/
    /*    --col-secondary: red;*/
    /*}*/

    :root {
        --col-gradient: radial-gradient(circle at 0% 51%, rgba(8, 125, 8, 0.6) 1%, rgba(0, 48, 0, 1) 5%, rgba(0, 70, 0, 1) 10%,rgba(0, 0, 0, 1) 45%);
        --col-contrast: white;
        --col-primary: black;
        --col-secondary: green;
    }
}

@tailwind components;
@tailwind utilities;

body {
    background: black;
}